body{
    background-image:linear-gradient(orange,maroon);
}
.col-md-5{
    margin-top: 150px !important;
    padding:20px !important;
    background-color: white;
}
input{
    margin-top:20px !important;
}
button{
    margin-top:20px !important;
    float:left;
}
.success{
    border:3px solid green !important;
}
.error{
    border:3px solid red !important;
}
small{
    color:red;
    margin:5px;
    text-align: left;
}